#
# Buildroot Custom Configurations
#
BR2_HERO_BITSTREAM="/home/gbellocchi/workspace_pulp/hero/hardware/hero_exilzcu102_MMULT_OPT/hero_exilzcu102.runs/impl_1/hero_exilzcu102_wrapper.bit"
BR2_HERO_AUTHORIZED_KEYS="/home/gbellocchi/.ssh/id_rsa.pub"
BR2_HERO_ETH_IP_ADDR="192.168.0.109"
BR2_HERO_ETH_NETMASK="255.255.255.0"
BR2_HERO_ETH_GATEWAY="192.168.0.255"
BR2_HERO_ETH_DNS="8.8.8.8"


#
# Petalinux Custom Configurations
#
# PT_NFSSERVER_IP="155.185.4.26"
PT_ROOTFS_NFS="y"
PT_NFSROOT_DIR="/mnt/nfs_share/gbellocchi"
PT_TFTPBOOT_DIR="/var/lib/tftpboot/gbellocchi"


